## Propsal: Bayesian Non-Parametric Models for Stock Prediction

#### Team Members:
- Asteria Xu (56376452)
- Yufei Shen (29116514)

#### Datasets:

-S&P 500 stock data: https://www.kaggle.com/datasets/camnugent/sandp500/data

-TESLA Stock Data: https://www.kaggle.com/datasets/varpit94/tesla-stock-data-updated-till-28jun2021

In [1]:
library(readr)
# Read S&P 500 dataset
sp500_data <- read_csv("all_stocks_5yr.csv")

# Read Tesla dataset
tesla_data <- read_csv("TSLA.csv")

Rows: 619040 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): Name
dbl  (5): open, high, low, close, volume
date (1): date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 2956 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl  (6): Open, High, Low, Close, Adj Close, Volume
date (1): Date

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [2]:
head(sp500_data)
head(tesla_data)

  date       open  high  low   close volume   Name
1 2013-02-08 15.07 15.12 14.63 14.75  8407500 AAL
2 2013-02-11 14.89 15.01 14.26 14.46  8882000 AAL
3 2013-02-12 14.45 14.51 14.10 14.27  8126000 AAL
4 2013-02-13 14.30 14.94 14.25 14.66 10259500 AAL
5 2013-02-14 14.94 14.96 13.16 13.99 31879900 AAL
6 2013-02-15 13.93 14.61 13.93 14.50 15628000 AAL

  Date       Open  High  Low   Close Adj Close Volume
1 2010-06-29 3.800 5.000 3.508 4.778 4.778     93831500
2 2010-06-30 5.158 6.084 4.660 4.766 4.766     85935500
3 2010-07-01 5.000 5.184 4.054 4.392 4.392     41094000
4 2010-07-02 4.600 4.620 3.742 3.840 3.840     25699000
5 2010-07-06 4.000 4.000 3.166 3.222 3.222     34334500
6 2010-07-07 3.280 3.326 2.996 3.160 3.160     34608500